<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295006966948-defflfgfrgnkrkpcor3keo6je4j37u9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295006966948-defflfgfrgnkrkpcor3keo6je4j37u9e</string>
	<key>API_KEY</key>
	<string>AIzaSyBYVRQHlfX4A45h-2IciBtVRiGKrp5syC8</string>
	<key>GCM_SENDER_ID</key>
	<string>295006966948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstoreChatting</string>
	<key>PROJECT_ID</key>
	<string>flutterchat-d62d3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchat-d62d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295006966948:ios:c35cd33794088d8ebf8231</string>
	<key>DATABASE_URL</key>
	<string>https://flutterchat-d62d3.firebaseio.com</string>
</dict>
</plist>